* {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: inherit; 
  font-size: inherit;
}
html,body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
	background-color: khaki;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
}

._bounding_container {
	position: absolute;
	top: 30%;
	left:50%;
	transform: translate(-50%, -50%);
}

.slider {
	width: 860px;
	height: 500px;
	overflow: hidden;
	border-radius: 10px;
}

.slides {
	width: 400%;
	height: 100%;
	display: flex;
}

.slide {
	width: 25%;
}

.slide img {
	width: 100%;
	height: 100%;
}

.nav_text {
	display: flex;
	justify-content: space-between;
}
.text {
}

#text1, #text2, #text3, #text4 {
	display: none;
}

.nav {
	margin-left: 60px;
	position: relative;
	display: flex;
}

.button {
	height: 30px;
	width: 30px;
	border: solid;
	border-color: lightcoral;
	border-radius: 50%;
	cursor: pointer;
}

input {
	display: none;
}

#slide1:checked ~ .slider .slides .active {
	margin-left: 0;
}

#slide1:checked ~ .nav_text .text #text1 {
	display: block;
}

#slide2:checked ~ .slider .slides .active {
	margin-left: -25%;
}

#slide2:checked ~ .nav_text .text #text2 {
	display: block;
}

#slide3:checked ~ .slider .slides .active {
	margin-left: -50%;
}

#slide3:checked ~ .nav_text .text #text3 {
	display: block;
}

#slide4:checked ~ .slider .slides .active {
	margin-left: -75%;
}

#slide4:checked ~ .nav_text .text #text4 {
	display: block;
}
/* #slide2:checked ~ .active {
	margin-left: -25%;
}

#slide3:checked ~ .active {
	margin-left: -50%;
}

#slide4:checked ~ .active {
	margin-left: -75%;
} */

