/* amatic-sc-regular - latin */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/amatic-sc-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/amatic-sc-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/amatic-sc-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/amatic-sc-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/amatic-sc-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/amatic-sc-v16-latin-regular.svg#AmaticSC') format('svg'); /* Legacy iOS */
}
/* amatic-sc-700 - latin */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/amatic-sc-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/amatic-sc-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/amatic-sc-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/amatic-sc-v16-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/amatic-sc-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/amatic-sc-v16-latin-700.svg#AmaticSC') format('svg'); /* Legacy iOS */
}

* {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: inherit; 
  font-size: inherit;
}
html,body {
  height: 100%;
  line-height: 1;
	font-family: Amatic SC;
	font-weight: 700;
  font-size: 35px;
	letter-spacing: 2px;
  scroll-behavior: smooth;
}

body {
	background: #a1d5b1;
}

.wrapper {
 
}

._bounding_container {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slider {
	width: 640px;
	height: 480px;
	overflow: hidden;
	border: 10px double black;
	border-radius: 30px;
}

.slides {
	width: 400%;
	height: 100%;
	display: flex;
}

.slide {
	width: 25%;
	transition: all .1s .2s;
}

.slide img {
	width: 100%;
	height: 100%;
}

.nav_text {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
.text {
	padding-left: 20px;
}

#text1, #text2, #text3, #text4 {
	display: none;
}

.nav {
	margin-right: 30px;
	position: relative;
	display: flex;
}


.button1 {
	margin-top: -35px;
	cursor: pointer;
	border: 30px solid transparent;
	border-bottom: 40px solid #07e1ed;
	margin-right: 10px;
}

.button1:hover {
	border-bottom: 40px solid #01adb6;
}

.button2 {
	height: 30px;
	width: 30px;
	background: #4944e8;
	border: solid;
	border-color: black;
	border-radius: 50%;
	cursor: pointer;
	margin-right: 10px;
	margin-top: 20px;
}

.button2:hover {
	background: #5f5bda;
}

.button3 {
	height: 35px;
	width: 35px;
	background: #07f726;
	border: solid;
	border-color: black;
	border-radius: 50%;
	cursor: pointer;
	margin-right: 10px;
}

.button3:hover {
	background: #40ff5a;
}

.button4 {
	height: 45px;
	width: 45px;
	background: #aa023a;
	border: solid;
	border-color: black;
	border-radius: 50%;
	cursor: pointer;
}

.button4:hover {
	background: #ff3779;
}

@keyframes appearance {
	from { margin-left: 50px; }
	to { margin-left: 0px; }
}

input {
	display: none;
}

#slide1:checked ~ .slider .slides .active {
	margin-left: 0;
}

#slide1:checked ~ .nav_text .text #text1 {
	animation-duration: .6s;
  animation-name: appearance;
	display: block;
}

#slide1:checked ~ .nav_text .nav .button1 {
	border-bottom: 40px solid #01adb6;
}

#slide2:checked ~ .slider .slides .active {
	margin-left: -25%;
}

#slide2:checked ~ .nav_text .text #text2 {
	animation-duration: .6s;
  animation-name: appearance;
	display: block;
}

#slide2:checked ~ .nav_text .nav .button2 {
	background: #6f6bf0;
}

#slide3:checked ~ .slider .slides .active {
	margin-left: -50%;
}

#slide3:checked ~ .nav_text .text #text3 {
	animation-duration: .4s;
  animation-name: appearance;
	display: block;
}

#slide3:checked ~ .nav_text .nav .button3 {
	background: #40ff5a;
}

#slide4:checked ~ .slider .slides .active {
	margin-left: -75%;
}

#slide4:checked ~ .nav_text .text #text4 {
	animation-duration: .4s;
  animation-name: appearance;
	display: block;
}

#slide4:checked ~ .nav_text .nav .button4 {
	background: #ff3779;
}

